In [2]:
# database and calcs
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

# linear regression
from sklearn import linear_model
import statsmodels.api as sm

In [13]:
data = pd.read_csv('/Users/DanCassin/Development/scrapy_projects/operation_fairfax/fairfax.csv')

data['current_assessment'] = data['current_building'] + data['current_land']
data['total_taxes'] = data['general_fund_taxes'] + data['special_tax_dist']

data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             71 non-null     object
 1   sale_date           71 non-null     object
 2   sale_amount         71 non-null     int64
 3   current_building    71 non-null     int64
 4   current_land        71 non-null     int64
 5   general_fund_taxes  71 non-null     float64
 6   special_tax_dist    71 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.0+ KB

,address,sale_date,sale_amount,current_building,current_land,general_fund_taxes,special_tax_dist
0,5200 KINGS PARK DR SPRINGFIELD VA 22151,03/19/2018,430000,337580,239000,6630.67,193.16
1,5205 KINGS PARK DR SPRINGFIELD VA 22151,11/01/2019,565000,295780,237000,6126.97,178.48
2,5207 KINGS PARK DR SPRINGFIELD VA 22151,11/19/2008,340000,259190,236000,5694.69,165.89
3,5206 KINGS PARK DR SPRINGFIELD VA 22151,11/21/2003,291000,281090,237000,5958.04,173.56
4,5204 KINGS PARK DR SPRINGFIELD VA 22151,02/17/1987,128500,266720,237000,5792.78,168.75