In [30]:
# database and calcs
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# linear regression
from sklearn import linear_model
import statsmodels.api as sm

In [14]:
data = pd.read_csv('/Users/DanCassin/Development/scrapy_projects/operation_fairfax/fairfax.csv')

data['current_assessment'] = data['current_building'] + data['current_land']
data['total_taxes'] = data['general_fund_taxes'] + data['special_tax_dist']

data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             71 non-null     object
 1   sale_date           71 non-null     object
 2   sale_amount         71 non-null     int64
 3   current_building    71 non-null     int64
 4   current_land        71 non-null     int64
 5   general_fund_taxes  71 non-null     float64
 6   special_tax_dist    71 non-null     float64
 7   current_assessment  71 non-null     int64
 8   total_taxes         71 non-null     float64
dtypes: float64(3), int64(4), object(2)
memory usage: 5.1+ KB

,address,sale_date,sale_amount,current_building,current_land,general_fund_taxes,special_tax_dist,current_assessment,total_taxes
0,5200 KINGS PARK DR SPRINGFIELD VA 22151,03/19/2018,430000,337580,239000,6630.67,193.16,576580,6823.83
1,5205 KINGS PARK DR SPRINGFIELD VA 22151,11/01/2019,565000,295780,237000,6126.97,178.48,532780,6305.45
2,5207 KINGS PARK DR SPRINGFIELD VA 22151,11/19/2008,340000,259190,236000,5694.69,165.89,495190,5860.58
3,5206 KINGS PARK DR SPRINGFIELD VA 22151,11/21/2003,291000,281090,237000,5958.04,173.56,518090,6131.60
4,5204 KINGS PARK DR SPRINGFIELD VA 22151,02/17/1987,128500,266720,237000,5792.78,168.75,503720,5961.53

In [25]:
data = data[data['total_taxes'] > 0]

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 0 to 70
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             70 non-null     object
 1   sale_date           70 non-null     object
 2   sale_amount         70 non-null     int64
 3   current_building    70 non-null     int64
 4   current_land        70 non-null     int64
 5   general_fund_taxes  70 non-null     float64
 6   special_tax_dist    70 non-null     float64
 7   current_assessment  70 non-null     int64
 8   total_taxes         70 non-null     float64
dtypes: float64(3), int64(4), object(2)
memory usage: 5.5+ KB

In [29]:
y = data['total_taxes']

X = data[['current_building', 'current_land']]

########

X = sm.add_constant(X)

results = sm.OLS(y, X).fit()

print(results.summary())

OLS Regression Results
==============================================================================
Dep. Variable:            total_taxes   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.034e+11
Date:                Fri, 24 Jul 2020   Prob (F-statistic):          1.27e-318
Time:                        16:10:12   Log-Likelihood:                 273.99
No. Observations:                  70   AIC:                            -542.0
Df Residuals:                      67   BIC:                            -535.2
Df Model:                           2
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0797      0.140      0.569      0.571      -0.200       0.359
current_building     0.0118   2.66e-08   4.45e+05      0.000       0.012       0.012
current_land         0.0118   5.98e-07   1.98e+04      0.000       0.012       0.012
==============================================================================
Omnibus:                        0.732   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.694   Jarque-Bera (JB):                0.784
Skew:                          -0.230   Prob(JB):                        0.676
Kurtosis:                       2.761   Cond. No.                     8.81e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.81e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
sns.scatterplot(x='total_taxes', y='current_assessment', data=data, estimator='ols')